*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    font-family: 'Delicious Handrawn', cursive;
}
.center{
    text-align: center;
    width: 350px;
    display: inline-block;
}
.nav ul li{
    display: inline-block;
    text-decoration: none;
    margin: 0 100px;
    padding-top: 10px;
}
.nav{
    width: 90%;
    height: 40px;
    background-color: rgba(0, 0, 0,20%);
    text-align: center;
    margin: 1px auto;
    color: white;
    margin-top: 20px;
    font-size: larger;
    
}
.head{
    width: 100%;
    height: 650px;
    background-image: url(img/background-01.jpg);
    padding: 1px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.text{
    color: white;
    margin-left: 50px;
    width: 500px;
    height: 200px;
    margin-top: 150px;
    font-size: larger;
}
button{
    border-radius: 10px;
    background-color: green;
    color: white;
    padding: 5px;
    margin-top: 10px;
}
.main{
    width: 100%;
    height: 500px;
    display: inline-block;
}
.main .box1,.main .box2,.main .box3,.main .box4 ,.main .box5,.main .box6{
    margin: -50px 50px 60px 80px;
}
.footer{
    padding-top: 0px;
    width: 100%;
    height: 300px;
    background-color: rgb(128 128 128 / 37%);
    margin-top: 20px;
}
.footer .box1 ,.footer .box2 ,.footer .box3{
    margin: 20px 50px 60px 80px;

}
i{
    font-size: 64px;
    margin: 10px;
}